<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <h1 *ngIf="isSignup">Sign Up</h1>
    <h1 *ngIf="!isSignup">Sign In</h1>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
            type="email" 
            name="email" 
            id="email" 
            class="form-control" 
            ngModel 
            required 
            email
        >
        <span *ngIf="emailErrorMsg || !authForm.value.email" style="color: red;">
            {{ emailErrorMsg }}
        </span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="password"
            name="password" 
            id="password" 
            class="form-control" 
            ngModel 
            required 
            minlength="4"
        >
        <span *ngIf="passwordErrorMsg || !authForm.value.password" style="color: red;">
            {{ passwordErrorMsg }}
        </span>
    </div>
    <span *ngIf="genericMessage" style="color: red; display: block">{{ genericMessage }}</span>
    <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid" *ngIf="isSignup">
        Sign Up 
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid" *ngIf="!isSignup">
        Sign In
    </button>
</form>